div
{
    font-family: "Avenir Next", Verdana, "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",
     "ü‡ÉSÉVÉbÉN", "Yu Gothic", "ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif;
}
#header
{
    text-align:center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding:20px;
    width:95%;
    height:auto;
    border:solid 1px;
}
body
{
	transition-duration:1.2s;
	background-color: #333;
    color: #fff;
}
#boxA
{
   font-size:14px;
   width:1280px;
   height:auto;
   margin : auto;
   padding : 20px;
   border:solid 1px;
}
    #question/*ñ‚ëËâÊñ êÍóp*/
    {
    margin :5px;
    padding:3px;
    border:solid 1px;
    clear:both;
    }
        #q_title
        {
        text-align:right;
        }
            #daimon{
            width:55.5%;
            float:left;
            }
        #answer_1
        {
        float:left;
        width:55%;
        }
        #answer_2
        {
        float:left;
        width:40%;
        }
	        #users_answer
	        {
	        float:right;
	        width:20%;
	        }
	        #true_answer
	        {
	        float:right;
            width:10%;
	        }
    #box1
    {
    transition-duration:1s;
    width:50.5%;
    height:80.6%;
    margin:auto;
    border:solid 1px;
    float:left;
    }
        #text_title
        {
        width:100%;
        }
        #text_question
        {
        font-family: "Avenir Next", Verdana, "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",
        "ü‡ÉSÉVÉbÉN", "Yu Gothic", "ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif;
        width:100%;
        }

    #box2
    {
    height:38%;
    width:46.5%;
    margin:auto;
    border:solid 1px;
    float:right;
    }
         #select
         {
         margin:8px;
         width:75%;
         }
         #check
         {
         }
    #box3
    {
    transition-duration:1s;
    height:42.5%;
    width:46.5%;
    margin:auto;
    border:solid 1px;
    float:right;
    }
         #submit
         {
         width:100%;
         margin-top:38px;
         padding:30px 200px;
         }
         #button
         {
         width:100%;
         margin-top:38px;
         padding:30px 200px;
         }
    #box4
    {
    clear:both;
    }
    #footer
    {
    text-align:center;
    margin-top: auto;
    width:100%;
    font-size:12px;
    border-top:solid 1px;
    bottom:0;
    }
   /*îƒópê›íË*/
label{
	margin-top:10px;
}
#error{/*ÉGÉâÅ[éûÇ…ï\é¶Ç∑ÇÈï∂éö*/
    color:#ff0000;
    margin-left:5px;
}
#button{
	font-family: "Avenir Next", Verdana, "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",
	"ü‡ÉSÉVÉbÉN", "Yu Gothic", "ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif;
	background-color: #333;
    color: #fff;
}
#button:hover {
	transition-duration:0.6s;
    background-color: #59b1eb;
}
.seikai{/*ê≥âÇÃÇ∆Ç´*/
float:right;
margin: 0;
margin-right:15%;
padding: 10px;
width: 65px;
height: 65px;
border: 8px double #FFFFFF;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: -50%;
color: #FFFFFF;
background-color:FF3333;
text-align: center;
font-size: 13px;
line-height: 65px;
-webkit-transform: rotate(16deg);
-ms-transform: rotate(16deg);
transform: rotate(16deg);

}
.fuseikai{
float:right;
margin: 0;
margin-right:15%;
padding: 10px;
width: 65px;
height: 65px;
border: 8px double #FFFFFF;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: -50%;
color: #FFFFFF;
background-color:3333FF;
text-align: center;
font-size: 13px;
line-height: 65px;
-webkit-transform: rotate(16deg);
-ms-transform: rotate(16deg);
transform: rotate(16deg);
}
@media screen and (max-width: 1348px) {
   /* ï\é¶óÃàÊÇ™1348pxà»â∫ÇÃèÍçáÇ…ìKópÇ∑ÇÈÉXÉ^ÉCÉã */
   div#header
   {

   }
	   div#boxA
	   {
	   width: 95%;
	   height:auto;
	   }
	       div#box1
	       {
	       height : 400px;
	       margin-left:auto;
	       margin-right:auto;
	       margin-top:5px;
           padding :10px 5px 40px 5px;
	       width:98%;
	       float:none;
	       }
	       div#box2
	       {
	       padding :10px 5px 40px 5px;
	       width:98%;
	       float:none;
	       }
	       div#box3
	       {
	       padding :10px 5px 40px 5px;
	       width:98%;
	       float:none;
	       }
}
