div
{
    font-family: "Avenir Next", Verdana, "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",
     "ü‡ÉSÉVÉbÉN", "Yu Gothic", "ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif;
}
#header
{
    text-align:center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width:95%;
    border:solid 1px;
}
h1{

}
body
{
	transition-duration:1.2s;
	background-color: #333;
    color: #fff;
}
#boxA
{
   font-size:14px;
   width:1280px;
   height:auto;
   margin : auto;
   padding : 10px;
   border:solid 1px;
}
    #question/*ñ‚ëËâÊñ êÍóp*/
    {
    transition-duration:1.2s;
    margin :5px;
    padding:3px;
    border:solid 1px;
    clear:both;
    }
        #q_title
        {
        text-align:right;
        }
        #daimon{
        width:55.5%;
        float:left;
        }
        #answer
        {
        float:left;
        width:89%;
        }
	        #users_answer
	        {
	        float:right;
	        width:20%;
	        }
	        #true_answer
	        {
	        float:right;
            width:10%;
	        }
    #box1
    {
    transition-duration:1s;
    width:50.5%;
    height:78.6%;
    margin:auto;
    border:solid 1px;
    float:left;
    }
        #text_title
        {
        width:90%;
        margin-left:4%;
        margin-right:4%;
        }
        #text_question
        {
        font-family: "Avenir Next", Verdana, "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",
        "ü‡ÉSÉVÉbÉN", "Yu Gothic", "ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif;
        width:90%;
        height:600px;
        margin-left:4%;
        margin-right:4%;
        }

    #box2
    {
    height:45%;
    width:46.5%;
    margin:auto;
    border:solid 1px;
    float:right;
    }
         #select1,#select2,#select3,#select4
         {
         margin:8px;
         margin-right:10%;
         margin-left:10%;
         width:75%;
         }
         #check
         {
         }
    #box3
    {
    transition-duration:1s;
    height:30.5%;
    width:46.5%;
    margin:auto;
    margin-top:2%;
    border:solid 1px;
    float:right;
    }
         #submit
         {
         width:100%;
         margin-top:38px;
         padding:30px 200px;
         }
         #button
         {
         width:100%;
         margin-top:38px;
         padding:30px 200px;
         }
    #box4
    {
    clear:both;
    }
    #footer
    {
    text-align:center;
    margin-top: auto;
    width:100%;
    font-size:12px;
    border-top:solid 1px;
    bottom:0;
    }
   /*îƒópê›íË*/
label{
	margin-top:10px;
}
#error{/*ÉGÉâÅ[éûÇ…ï\é¶Ç∑ÇÈï∂éö*/
    color:#ff0000;
    margin-left:5px;
}
span{
	color:red;
}
#button{
	font-family: "Avenir Next", Verdana, "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",
	"ü‡ÉSÉVÉbÉN", "Yu Gothic", "ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif;
	background-color: #333;
    color: #fff;
}
#button:hover {
	transition-duration:0.6s;
    background-color: #59b1eb;
}
.seikai{/*ê≥âÇÃÇ∆Ç´*/
transition-duration:0.6s;
float:right;
margin: 0;
margin-right:15%;
padding: 10px;
width: 65px;
height: 65px;
border: 8px double #FF0000;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: -50%;
color: #FFFFFF;
text-align: center;
font-size: 13px;
line-height: 65px;
-webkit-transform: rotate(16deg);
-ms-transform: rotate(16deg);
transform: rotate(16deg);
opacity:0.7;
}
.fuseikai{
transition-duration:0.6s;
float:right;
margin: 0;
margin-right:15%;
padding: 10px;
width: 65px;
height: 65px;
border: 8px double #FFFFFF;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: -50%;
color: #FFFFFF;
text-align: center;
font-size: 13px;
line-height: 65px;
-webkit-transform: rotate(16deg);
-ms-transform: rotate(16deg);
transform: rotate(16deg);
opacity:0.7;
}
@media screen and (max-width: 1348px) {
   /* ï\é¶óÃàÊÇ™1348pxà»â∫ÇÃèÍçáÇ…ìKópÇ∑ÇÈÉXÉ^ÉCÉã */
   div#header
   {

   }
	   div#boxA
	   {
	   width: 95%;
	   height:auto;
	   }
	       div#box1
	       {
	       height : 400px;
	       margin-left:auto;
	       margin-right:auto;
	       margin-top:5px;
           padding :10px 5px 40px 5px;
	       width:98%;
	       float:none;
	       }
	        #text_title
            {
             width:80%;
             margin-left:9%;
             margin-right:9%;
             }
             #text_question
            {
	        font-family: "Avenir Next", Verdana, "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",
	        "ü‡ÉSÉVÉbÉN", "Yu Gothic", "ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif;
	        width:80%;
	        height:300px;
	        margin-left:9%;
	        margin-right:9%;
	        }
       div#box2
       {
       padding :10px 5px 40px 5px;
       width:98%;
       height:auto;
       float:none;
       }
       div#box3
       {
       padding :10px 5px 40px 5px;
       width:98%;
       height:auto;
       float:none;
       }
}
